/* ---------- GENERAL ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
    --1Color: #964b00;
    --2Color: #000000;
    --textColor: #ffffff;
}
/* BODY */
body {
    background-color: var(--1Color);
}

/* HEADER */
header {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
    clip-path: polygon(5% 5%, 95% 5%, 95% 20%, 30% 95%, 5% 95%);
}
 h1 {
     position:  z-index: 100;
 }

/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */

@media screen and (min-width: 1000px) {
    /* HEADER */
    header {
    clip-path: polygon(3% 5%, 50% 5%, 50% 15%, 25% 95%, 3% 95%);
    }
}   